.app-header{
    text-align: center;
}

.last-update{
    text-align: right;
}

.app-linechart{
    width: 100%;
}

.app-barchart{
    width: 60%;
    display: inline-block;
}

.app-pieplot{
    width: 40%;
    display: inline-block;
}

.app-tweet-output{
    text-align: center;
    border-style: double;
    padding: 1%;
}

.app-footer{
    text-align: center;
}

.twitter{
    width: 33%;
    display: inline-block;
}

.dash{
    width: 33%;
    display: inline-block;
}

.heroku{
    width: 33%;
    display: inline-block;
}